/* VARIABLES */
:root{
	--ancho-max: 1000px;
	--color-gris: #eee;
	--color-negro: #777;
	--color-resalta: #f44;
}


/* GENERAL */

*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	box-sizing: border-box;
	transition: 0.3s;
}

html{
	position: relative;
	min-height: 100%;
	width: 100%;
	background: var(--color-gris);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	width: 100%;
}

/* BARRA SUPERIOR */

header{
	background: white;
	padding: 1rem;
	text-align: center;
	align-items: center;
	box-shadow: rgba(10,10,10,0.1) 0px 5px 10px;
}

header #link-inicio {
	cursor: pointer;
}

header * {
	display: inline-block;
}

header h2{
	font-size: 1rem;
}

header > div{
	display: flex;
	width: 100%;
	max-width: var(--ancho-max);
	margin: auto;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 500px){
	header > div{
		flex-wrap: wrap;
	}
}

header .lupa{
	content: '';
	width: 2rem;
	height: 2rem;
	margin-left: 0.5rem;
	background-image: url('../recursos/img/lupa.svg');
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center;
}

header .carrito{
	position: relative;
	width: 2rem;
	height: 2rem;
	background-image: url('../recursos/img/carrito.svg');
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center;
}

header .carrito.volver{
	background-image: url('../recursos/img/volver.svg');
}

header .carrito.lleno::before{
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: var(--color-resalta);
	top: 25%;
	left: 70%;
}

header #buscador{
	width: 80%;
}

@media (max-width: 500px){
	header #buscador{
		width: 100%;
		order: 1;
	}
}

header #buscador > form{
	width: 100%;
}

header #buscador input[type=search]{
	padding: 0.5rem;
	border-radius: 0.2rem;
	border-bottom: 1px solid var(--color-gris);
	width: calc(80% - 3rem);
}

header #buscador input[type=button]{
	border-radius: 0.2rem;
}

/* CONTENEDOR PRINCIPAL */

main{
	padding: 1rem;
}

main h2{
	margin-top: 2rem;
}

#app > div:nth-of-type(1) > button {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--color-resalta);
}

#app > div:nth-of-type(2) > div {
	display: flex;
	flex-wrap: wrap;
}

.extTarjeta{
	display: inline-block;
	width: 100%;
	padding: 1rem;
}

@media(min-width:300px){
	.extTarjeta{
		width: 50%;
	}
}

@media(min-width:600px){
	.extTarjeta{
		width: 33%;
	}
}

@media(min-width:1000px){
	.extTarjeta{
		max-width: 25%;
	}
}

.tarjeta{
	padding: 1rem;
	background-color: white;
	border-radius: 0.3rem;
	position: relative;
}	

.tarjeta:hover{
	border-radius: 0.64rem;
	box-shadow: #f44 0 0 10px 0;
}	

.tarjeta *{
	display: inline-block;
	word-wrap: break-word;
	max-width: 100%;
}

.tarjeta > div{
	width: 100%;
}

.tarjeta > div:nth-of-type(1){
	position: relative;
	margin-bottom: 1rem;
	text-align: center;
}

.tarjeta > div:nth-of-type(1) > div{
	position: relative;
	padding-top: 100%;
	width: 100%;
	height: 0;
}

.tarjeta > div:nth-of-type(1) > div > div{
	position: absolute;
	margin-top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tarjeta > div:nth-of-type(1) > div > div >img{
	max-height: 100%;
	max-width: 100%;
}

.tarjeta > div:nth-of-type(1) > p{
	min-width: 100%;
	min-height: 4em;
	text-transform:uppercase;
}

.tarjeta > div:nth-of-type(2){
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-top: 1px solid rgba(10,10,10,0.1);
}

.tarjeta > div:nth-of-type(2) > div{
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.tarjeta > div:nth-of-type(2) > div > p{
	display: block;
}

.tarjeta button{
	--tamano-fuente: 1rem;
	content: '';
	height: calc( var(--tamano-fuente) * 2 );
	width: calc( var(--tamano-fuente) * 2 );
	margin: 0.5rem;
	border-radius: 50%;
	border: var(--color-negro) 1px solid;
	color: white;
	background-image: url('../recursos/img/carrito.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: calc( var(--tamano-fuente) * 1.2 );
}

.tarjeta button:hover{
	box-shadow: #f44 0 0 1px 0;
}

.tarjeta button:active{
	background-color: #f44;
}

.tarjeta .resalta{
	position: absolute;
	display: inline-block;
	rotate: 20deg;
	top: -5%;
	right: -5%;
	width: unset;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--color-resalta);
	text-align: center;
	font-size: 0.8rem;
}

.tarjeta .resalta b{
	font-size: 1.5em;
}

.tarjeta .oferta{
	position: absolute;
	display: inline-block;
	top: -1rem;
	right: -1rem;
	rotate: 15deg;
	padding: 1rem;
	width: auto;
	min-width: unset !important;
	border-radius: 0.5rem;
	background-color: var(--color-resalta);
}

.tarjeta .tachado{
	color: red;
	-webkit-text-decoration-line: line-through; /* Safari */
	text-decoration-line: line-through; 
}

*.oculto{
	display: none;
	height: 0;
	width: 0;
}

#filtroCont > div{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.extFiltro{
	display: inline-block;
	margin: 0.5rem;
	width: 40%;
}

.filtro label{
	text-transform: capitalize;
	margin-left: 0.5rem;
}

/* CARRITO */
.carrito-ui .tarjeta button{
	content: '-';
	background-image: unset;
	font-size: 2rem;
	line-height: 1rem;
	color: black;
	font-weight: bolder;
}

.carrito-ui > button{
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--color-resalta);
	border: var(--color-negro) 1px solid;
	color: white;
}
